hacking-the-art-of-exploitation/hacking-the-art-of-exploitation-chapter-0[4-8].md

practical-packet-analysis/practical-packet-analysis-chapter-0[2-9].md

practical-packet-analysis/practical-packet-analysis-chapter-1[0-3].md

